## Airbnb DC Hosting Helper ##

## 3_text_processing ##

### Summary ###

In this notebook, I will be turning raw text data into informative data for a listing. I will be working with what the host provided for name of the listing, its description, the neighborhood overview, about the host, and amenities.

Import libraries and read in data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import json, requests

In [2]:
np.random.seed(100)

In [3]:
pd.set_option('display.max_columns', 300)

In [4]:
pd.set_option('display.max_rows', 300)

In [5]:
df = pd.read_csv('../data/cleaned_numerical_df.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3652 entries, 0 to 3651
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      3652 non-null   int64
 1   index                           3652 non-null   int64
 2   id                              3652 non-null   int64
 3   name                            3652 non-null   object
 4   description                     3609 non-null   object
 5   neighborhood_overview           2796 non-null   object
 6   host_id                         3652 non-null   int64
 7   host_about                      2538 non-null   object
 8   host_response_time              3652 non-null   object
 9   host_response_rate              3652 non-null   float64
 10  host_acceptance_rate            3652 non-null   float64
 11  host_is_superhost               3652 non-null   int64
 12  host_has_profile_pic            3652 non-null   int64
 13  host_identity_verified          3652 non-null   int64
 14  neighbourhood_cleansed          3652 non-null   object
 15  latitude_x                      3652 non-null   float64
 16  longitude_x                     3652 non-null   float64
 17  room_type                       3652 non-null   object
 18  accommodates                    3652 non-null   int64
 19  bathrooms                       3652 non-null   float64
 20  bedrooms                        3652 non-null   float64
 21  beds                            3652 non-null   float64
 22  amenities                       3652 non-null   object
 23  price                           3652 non-null   float64
 24  minimum_nights                  3652 non-null   int64
 25  maximum_nights                  3652 non-null   int64
 26  minimum_nights_avg_ntm          3652 non-null   float64
 27  maximum_nights_avg_ntm          3652 non-null   float64
 28  availability_30                 3652 non-null   int64
 29  availability_60                 3652 non-null   int64
 30  availability_90                 3652 non-null   int64
 31  availability_365                3652 non-null   int64
 32  instant_bookable                3652 non-null   int64
 33  calculated_host_listings_count  3652 non-null   int64
 34  historic site                   3652 non-null   int64
 35  museum                          3652 non-null   int64
 36  metro                           3652 non-null   int64
 37  music venue                     3652 non-null   int64
 38  perfomring arts venue           3652 non-null   int64
 39  college and university          3652 non-null   int64
 40  food                            3652 non-null   int64
 41  nightlife spot                  3652 non-null   int64
 42  outdoors and recreation         3652 non-null   int64
 43  government building             3652 non-null   int64
 44  clothing store                  3652 non-null   int64
 45  popular                         3652 non-null   int64
 46  days_being_host                 3652 non-null   object
 47  days_since_first_review         3652 non-null   object
 48  days_since_last_review          3652 non-null   object
dtypes: float64(10), int64(28), object(11)
memory usage: 1.4+ MB

chucks advice for amenities:

create a function to loop through list and get a print out of each amenity,

get a set to only have unique values of amenity,

loop through and count the top 10 or 20 and make new columns